.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: white;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child{
  background: linear-gradient(to right, #ff486d, #b70e1d);
  left: -80px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient(#ff1d44, #2d2d2d);
  right: -30px;
  bottom: -80px;
}

.form-container{
  height: 500px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;

  *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }


  mat-card-title{
    color: #464646f0;
    font-size: 29px;
    line-height: 42px;
    text-align: center;
    display: flow-root;
    font-weight: bold;
    margin-left: -35px;

    img{
      height: 75px;
    }
  }

  form{
    width: 100%;
  }

  label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(234 234 234);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder{
    color: #808080;
  }

  button {
    font-family: inherit;
    font-size: 20px;
    background: linear-gradient(to right, #ff486d, #b70e1d);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    place-content: center;
    box-shadow: 0px 0 30px 0px #ba1121;

    span {
      display: block;
      margin-left: 0.3em;
      transition: all 0.3s ease-in-out;
    }

    svg {
      display: block;
      transform-origin: center center;
      transition: transform 0.3s ease-in-out;
    }
  }

  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  button:hover span {
    transform: translateX(5em);
  }

  button:active {
    transform: scale(0.95);
  }

  button:disabled {
    opacity: 0.7;
    background: #5d5d5d!important;
    color: rgb(0 0 0 / 68%);
    box-shadow: none!important;
    cursor: not-allowed;

    &:hover .svg-wrapper {
      animation: none;
    }

    &:hover svg {
      transform: none;
    }

    &:hover span {
      transform: none;
    }

    &:active {
      transform: none;
    }
  }


  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }

}
